dialog {
  opacity: 0;
  transform: translateY(0);
  transition: opacity 0.3s ease-out, transform 0.3s ease-out, overlay 0.3s ease-out allow-discrete, display 0.3s ease-out allow-discrete;
  border-radius: var(--global-border-radius);
  border-color: rgb(0 0 0 / 0.3);
  padding: 2rem;
  outline: none;

  &:open {
    opacity: 1;
    transform: translateY(0);

    &::backdrop {
      background-color: rgb(0 0 0 / 25%);
    }
  }

  &::backdrop {
    background-color: transparent;
    transition: display 0.3s allow-discrete, overlay 0.3s allow-discrete, background-color 0.3s;
  }
}

// Dialog or modal
:modal {
  margin: auto;
  background-color: var(--white, #fff);
  // border: none;
}

@starting-style {
  dialog:open {
    opacity: 0;
    transform: translateY(1rem);
  }
}

@starting-style {
  dialog:open::backdrop {
    background-color: transparent;
  }
}
