dialog {
  opacity: 0;
  transform:  scale(1);
  transition: opacity 0.3s ease-out, transform 0.3s ease-out, overlay 0.3s ease-out allow-discrete, display 0.3s ease-out allow-discrete;
  border-radius: var(--global-border-radius);
  border-color: rgb(0 0 0 / 0.3);
  padding: 2rem;
  outline: none;
  margin: auto;
  
  &:open {
    opacity: 1;
    transform: scale(1);

    &::backdrop {
      background-color: rgb(255 255 255 / 25%);
      backdrop-filter: blur(2px);
    }
  }

  &::backdrop {
    background-color: transparent;
    transition: display 0.3s allow-discrete, overlay 0.3s allow-discrete, background-color 0.3s;
  }
}

// Dialog or modal
:modal {
}

@starting-style {
  dialog:open {
    opacity: 0;
    transform: scale(0.9);
  }
}

@starting-style {
  dialog:open::backdrop {
    background-color: transparent;
  }
}
