.shimmer {
  position: relative;
  overflow: hidden;
  background: var(--gray-100);

  &:after {
    content: ' ';
    position: absolute;
    inset: 0;
    background-repeat: no-repeat;
    background-image: linear-gradient(90deg, var(--gray-100) 0%, var(--white) 10%, var(--gray-100) 100%);
    animation-name: pulse;
    animation-direction: 1.5s;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
  }
}

@keyframes pulse {
  100% {
    transform: translateX(100%);
  }
}
