.shimmer {
  background: var(--gray-100);
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  // animation-name: pulse;
  // animation-direction: 1.5s;
  // animation-duration: 2s;
  // animation-timing-function: cubic-bezier(0.4, 0, 0.6, 1);
  // animation-iteration-count: infinite;
}

@keyframes pulse {
  50% {
    opacity: 0.5;
  }
}