.page {
  height: 100%;
  background-color: var(--gray-50);
  &__title {
    font-weight: 600;
    color: var(--black-900);
    margin: 1rem 0;
    z-index: 1000;
  }

  &__container {
    border-radius: var(--global-border-radius);
    border: 1px solid var(--global-border-color);
    background-color: var(--white, #fff);
    @media (max-width: 600px) {
      border: none;
      filter: none;
    }
    box-shadow: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.04));
    // background-image: url('/glass.png');
    // background-repeat: no-repeat;
    // background-size: 62%;
    // background-position: 125% top;
  }
}

.shimmer {
  height: 100px;
}

.form-tag {
  display: block;
  padding: 0.1rem 0.4rem;
  border-radius: 4px;
  background-color: var(--gray-200);
  border: 2px solid var(--white);
  button {
    width: 15px;
    height: 15px;
  }
}

.form-link {
  display: block;
  padding: 0.1rem 0.4rem;
  border-radius: 4px;
  background-color: var(--gray-200);
  border: 2px solid var(--white);
  button {
    width: 15px;
    height: 15px;
  }
}

.filter-profile {
  background-color: #f8fafb;
  padding: 1rem;
  border-radius: var(--global-border-radius);
  max-height: 140px;
  overflow-y: auto;

  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 999;

  > div {
    &:not(:first-child) {
      margin-top: 0.5rem;
    }
  }

  button {
    border-radius: var(--global-border-radius);
  }

  figure {
    border-radius: var(--global-border-radius);
    padding: 0.4rem;
    width: 48px;
    height: 48px;
    min-width: 48px;
    max-height: 48px;
    &:hover {
      background: #eef3f6;
    }
    img {
      border-radius: var(--global-border-radius);
    }
  }
}

.selected-whitelist {
  margin: 1rem 0;
  overflow: hidden;

  button {
    width: 24px;
    height: 24px;
    color: #9cb6c9;
    background-color: transparent;

    &:hover {
      span {
        transform: scale(1.3);
      }
    }

    span {
      font-size: 15px;
      transition: all 0.1s ease-in-out;
    }
  }

  > div {
    background: #fafafa;
    padding-right: 0.5rem;
    border: 1px solid #eef3f6;
    border-radius: 999px;

    figure {
      min-width: 48px;
      max-height: 48px;
      border-radius: 999px;
      background-color: #ccc;
      overflow: hidden;

      img {
        width: 48px;
        height: 48px;
        border-radius: inherit;
      }
    }
    &:not(:first-child) {
    }
  }
}

.active {
  background-color: var(--color-primary);
  color: var(--white);
}

.btnFollowers {
  all: unset;
  cursor: pointer;

  transition: color 0.2s ease-in-out;

  &:hover {
    text-decoration-line: underline;
    text-decoration-thickness: 2px;
  }
}

.link {
  color: var(--blue-400);
  text-decoration: none;
  word-break: break-all;
  transition: color 0.2s ease-in-out;
}

.tab {
  border-bottom: 1px solid var(--global-border-color);

  li {
    flex: 1;
    display: flex;
    cursor: pointer;
    color: var(--gray-60);
    transition: background-color 0.2s ease-in-out;

    &:hover {
      background-color: var(--gray-100);
    }

    button {
      all: unset;
      padding: 0.8rem 0;
      text-align: center;
      font-weight: 500;
      width: 100%;
      height: 100%;
      border-bottom: 2px solid transparent;
    }
  }
}

.activeTab {
  border-color: var(--blue-400) !important;
  color: var(--black-900) !important;
}

.tabContent {
  padding: 2rem;
}

.postForm {
  textarea {
  }

  &__postContent {
    position: relative;

    &:after {
      content: 'auto save';
      position: absolute;
      bottom: 0;
      right: 0;
      font-size: 8px;
      background-color: var(--black-100);
      color: var(--black-600);
      border-bottom-left-radius: 4px;
      padding: 0.5rem 0.4rem;
      line-height: 0;
      opacity: 0.7;
    }
  }
}

.posts,
.polls,
.activity,
.reposts {
  // background-color: var(--gray-50);

  p {
    color: var(--gray-400);
  }
}

.profileWrapper {
  position: relative;
  padding: 2rem;

  .gift {
    padding: 0.4rem;
    cursor: pointer;
    img {
      width: 16px;
      height: 16px;
    }

    &:hover {
      background-color: var(--gray-50);
    }
  }

  ul {
  }
}

// Profile
.profile {
  header,
  footer {
    width: 100%;
    align-items: stretch;
  }

  &__pfp {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--gray-50);

    figure {
      --r: min(8rem, 28vw);
      width: var(--r);
      height: var(--r);
      outline: 1px solid var(--gray-200);
      border-radius: inherit;

      img {
        border-radius: inherit;
        aspect-ratio: 1/1;
      }
    }

    .status {
      position: absolute;
      left: 50%;
      top: -1.7em;
      transform: translateX(-50%);
      min-width: 16px;
      max-width: 80%;
      padding: 0.7rem 0.4rem;
      border-radius: 11px;
      background-color: var(--white, #fff);
      box-shadow: var(--shadow16);
      text-overflow: ellipsis;
      font-size: 11px;
      font-weight: 400;
      color: var(--gray-500);
      user-select: none;
      z-index: 1;
      isolation: isolate;

      p {
        overflow-y: auto;
        text-wrap: wrap;
        overflow-x: hidden;
        width: max-content;
        line-height: normal;
        max-width: 100%;
        max-height: 60px;
        white-space: wrap;
        text-overflow: ellipsis;
        scrollbar-color: var(--gray-300) var(--gray-50);
        scrollbar-width: thin;
      }

      &:after,
      &:before {
        content: '';
        position: absolute;
        border-radius: 1000px;
      }

      &:before {
        --r: 10px;
        width: var(--r);
        min-height: var(--r);
        bottom: -0.2rem;
        left: 30%;
        transform: translateX(-30%);
        background-color: var(--white, #fff);
        z-index: -1;
      }

      &:after {
        --r: 4px;
        width: var(--r);
        height: var(--r);
        bottom: -0.45rem;
        left: 37%;
        transform: translateX(-30%);
        background-color: var(--white, #fff);
      }
    }
  }

  &__name {
    all: unset;
    font-size: 1.3rem;
    line-height: 0;
    font-weight: 700;
    height: 8px;
  }

  &__checkmark {
    --r: 0.8rem;
    width: var(--r);
    height: var(--r);
  }

  &__wallet {
    position: relative;
    top: 0.2em;
  }

  &__description {
    text-wrap: balance;
    max-width: 70%;
    min-height: 40px;
  }

  &__tags {
    small {
      background-color: var(--gray-100);
      padding: 0.25rem 0.4rem;
      font-weight: 500;
      border-radius: 1000px;
    }
  }

  ul {
    width: 100%;

    li {
    }
  }

  &__btnFollow {
    width: 100%;
    padding: 0.5rem 1rem;
    border-radius: var(--global-border-radius);
    background-color: var(--gray-900, #000);
    color: var(--white, #fff);
    will-change: transform;
    transition: transform 0.2s ease;

    &:active {
      transform: scale(0.95);
    }
  }

  &__btnDisconnect {
    width: 100%;
    padding: 0.5rem 1rem;
    border-radius: var(--global-border-radius);
    background-color: var(--gray-100);
    color: var(--gray-600);
    will-change: transform;
    transition: transform 0.2s ease;

    &:active {
      transform: scale(0.95);
    }
  }
}

.statusModal {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  row-gap: 1rem;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1000;
  user-select: none;
  isolation: isolate;

  &__card {
    font-size: 14px;
    font-weight: 600;
    column-gap: 0.5rem;
    width: 100%;
    max-width: 400px;
    background-color: var(--white, #fff);
    border-radius: var(--global-border-radius);
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    padding: 0.5rem 1.5rem;

    header {
      padding: 1rem 0;
      display: flex;
      flex-direction: row;
      align-items: flex-start;

      > div {
        text-align: center;
        padding: 0.5rem 0;
        align-self: stretch;
        will-change: transform;

        &:first-child {
          cursor: pointer;

          svg {
            &:hover {
              transform: scale(1.025);
              transition: all 0.3s ease-in-out;
            }

            &:active {
              transform: scale(0.95);
              transition: all 0.3s ease;
            }
          }
        }

        &:last-child {
          text-align: right;
          color: var(--color-primary);
        }
      }

      &:hover {
        svg {
          fill: var(--gray-500);
        }
      }
    }

    main {
      padding: 2rem 0;
      align-items: stretch;
      align-content: stretch;
      place-self: center;

      figure {
        border: 1px solid var(--gray-100);
        background-color: var(--gray-50);
        margin: 0 auto;

        --r: 8rem;
        width: var(--r);
        height: var(--r);
        img {
          width: inherit;
          height: inherit;
          border-radius: inherit;
          aspect-ratio: 1/1;
        }
      }

      > div {
        text-align: center;
      }

      button {
        width: 100%;
        padding: 0.5rem 0.7rem;
        background-color: var(--color-primary);
        color: var(--white, #fff);
        will-change: transform;

        &:hover {
          transform: scale(1.025);
          transition: all 0.3s ease-in-out;
        }

        &:active {
          transform: scale(0.95);
          transition: all 0.3s ease;
        }
      }

      .statusModal__pfp {
        isolation: isolate;

        > div {
          padding: 0.7rem;
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
          top: -1.7rem;
          width: min-content;
          border-radius: 11px;
          background-color: var(--white, #fff);
          box-shadow: var(--shadow16);
          isolation: isolate;

          &:after,
          &:before {
            content: '';
            position: absolute;
            border-radius: 1000px;
          }

          &:before {
            --r: 10px;
            width: var(--r);
            min-height: var(--r);
            bottom: -0.2rem;
            left: 30%;
            transform: translateX(-30%);
            background-color: var(--white, #fff);
            z-index: 1;
          }

          &:after {
            --r: 4px;
            width: var(--r);
            height: var(--r);
            bottom: -0.45rem;
            left: 37%;
            transform: translateX(-30%);
            background-color: var(--white, #fff);
          }

          textarea {
            border: none;
            font-size: 11px;
            font-weight: 400;
            color: var(--gray-500);
            line-height: 1.2;
            overflow-y: auto;
            resize: none;

            &:focus {
              outline: none;
            }

            &:after,
            &:before {
              content: '';
              position: absolute;
              border-radius: 1000px;
            }

            &:before {
              --r: 10px;
              width: var(--r);
              min-height: var(--r);
              bottom: -0.2rem;
              left: 30%;
              transform: translateX(-30%);
              background-color: var(--white, #fff);
              z-index: 1;
            }

            &:after {
              --r: 4px;
              width: var(--r);
              height: var(--r);
              bottom: -0.45rem;
              left: 37%;
              transform: translateX(-30%);
              background-color: var(--white, #fff);
            }
          }
        }
      }

      .statusModal__expirationTimestamp {
        font-size: 12px;

        select {
          all: unset;
          color: var(--gray-400);
          margin-left: 0.4rem;
          width: fit-content;
          option {
          }
        }
      }
    }
  }
}

.profileModal {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  row-gap: 1rem;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1000;
  user-select: none;
  isolation: isolate;

  &__card {
    font-size: 14px;
    font-weight: 600;
    column-gap: 0.5rem;
    width: 100%;
    max-width: 400px;
    background-color: var(--white, #fff);
    border-radius: var(--global-border-radius);
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    padding: 0.5rem 1.5rem;

    header {
      padding: 1rem 0;
      display: flex;
      flex-direction: row;
      align-items: flex-start;

      > div {
        text-align: center;
        padding: 0.5rem 0;
        align-self: stretch;
        will-change: transform;

        &:first-child {
          cursor: pointer;

          svg {
            &:hover {
              transform: scale(1.025);
              transition: all 0.3s ease-in-out;
            }

            &:active {
              transform: scale(0.95);
              transition: all 0.3s ease;
            }
          }
        }

        &:last-child {
          text-align: right;
          color: var(--color-primary);
        }
      }

      &:hover {
        svg {
          fill: var(--gray-500);
        }
      }
    }

    main {
      padding: 2rem 0;
      align-items: stretch;
      align-content: stretch;
      place-self: center;

      figure {
        border: 1px solid var(--gray-100);
        background-color: var(--gray-50);
        margin: 0 auto;

        --r: 8rem;
        width: var(--r);
        height: var(--r);

        img {
          width: inherit;
          height: inherit;
          border-radius: inherit;
          aspect-ratio: 1/1;
        }
      }

      > div {
        text-align: center;
      }

      button {
        [type='submit'] {
          width: 100%;
          padding: 0.5rem 0.7rem;
          background-color: var(--color-primary);
          color: var(--white, #fff);
          will-change: transform;

          &:hover {
            transform: scale(1.025);
            transition: all 0.3s ease-in-out;
          }

          &:active {
            transform: scale(0.95);
            transition: all 0.3s ease;
          }
        }
      }

      .profileModal__expirationTimestamp {
        font-size: 12px;

        select {
          all: unset;
          color: var(--gray-400);
          margin-left: 0.4rem;
          width: fit-content;
          option {
          }
        }
      }
    }
  }
}

// Post
.post {
  &__pfp {
    --r: 32px;
    width: var(--r);
    height: var(--r);
    img {
      width: var(--r);
      height: var(--r);
    }
  }

  &__actions {
    margin-top: 1rem;

    li {
      svg {
        border-radius: 1000px;

        path {
          fill: var(--gray-400);
        }

        &:hover {
          cursor: pointer;

          path {
            fill: var(--gray-500);
          }
        }
      }
    }
  }

  textarea {
    height: 80px;
    max-height: 270px;
    resize: vertical;
    &:focus {
      outline: none;
    }
  }

  .btnAddOption {
    display: block;
    padding: 0.1rem 1rem;
    border-radius: var(--global-border-radius);
    cursor: pointer;

    &[disabled] {
      opacity: 0.4;
    }
  }
}

@media (prefers-color-scheme: dark) {
  .page {
    --gray-rgb: 255, 255, 255;
    --gray-alpha-200: rgba(var(--gray-rgb), 0.145);
    --gray-alpha-100: rgba(var(--gray-rgb), 0.06);

    --button-primary-hover: #ccc;
    --button-secondary-hover: #1a1a1a;
  }
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  a.primary:hover {
    border-color: transparent;
  }
}

@media (max-width: 600px) {
  .page {
  }
}

@media (prefers-color-scheme: dark) {
  .logo {
    filter: invert(100%);
  }
}
