@use '@/styles/components/responsive' as r;

.page {
  height: 100svh;
  margin-left: 4.5rem;
  padding-bottom: 4rem;
  // display: grid;
  // grid-template-columns: min(40svw, 300px) 1fr;
  // grid-template-rows: 1fr;
  // grid-template-areas:
  //   'aside header'
  //   'aside main'
  //   'aside footer';

  @include r.md-down() {
    margin-left: 0;
  }
}

// @media (max-width: 600px) {
//   padding: 0.7rem 0.7rem;
// }

// No data styles
.no-data {
  height: 100svh;
  grid-column-start: 2;
  grid-column-end: 4;
}

@media (prefers-color-scheme: dark) {
  .page {
    --gray-rgb: 255, 255, 255;
    --gray-alpha-200: rgba(var(--gray-rgb), 0.145);
    --gray-alpha-100: rgba(var(--gray-rgb), 0.06);

    --button-primary-hover: #ccc;
    --button-secondary-hover: #1a1a1a;
  }
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  a.primary:hover {
    border-color: transparent;
  }
}

@media (max-width: 600px) {
  .page {}
}

@media (prefers-color-scheme: dark) {
  .logo {
    filter: invert(100%);
  }
}