.page {
  height: 100%;
  min-height: 80svh;

  &__title {
    font-weight: 600;
    color: var(--black-900);
    margin: 1rem 0;
    z-index: 1000;
  }

  &__container {
    border-radius: var(--global-border-radius);
    border: 1px solid var(--global-border-color);
    background-color: var(--white, #fff);
    @media (max-width: 600px) {
      border: none;
      filter: none;
    }
    box-shadow: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.04));
    // background-image: url('/glass.png');
    // background-repeat: no-repeat;
    // background-size: 62%;
    // background-position: 125% top;
  }
}

.network {
  background-color: var(--white);
  border: 1px solid var(--gray-100);
  border-radius: 4px;
  box-shadow: var(--shadow-10);
  cursor: help;

  &:hover {
    background-color: var(--gray-50);
  }

  &__body {
    padding: 1.2rem;
  }

  a {
    color: var(--blue-400);
  }

  &__icon {
    svg {
      --r: 24px;
      width: var(--r);
      height: var(--r);
      box-shadow: var(--shadow-10);
    }
  }

  span {
    font-weight: 500;
    border-radius: 1000px;

    &:last-child {
      font-size: 11px;
      background-color: var(--gray-50);
    }
  }

  small {
    color: var(--text-color-pale);
  }

  button {
    background-color: var(--black);
    color: var(--white);
    padding: 6px 12px;
    will-change: transform;
    font-size: 11px;
    border: none;
    border-radius: 1000px;

    &:hover {
      transform: scale(1.015);
      transition: all 0.3s ease-in-out;
    }

    &:active {
      transform: scale(0.95);
      transition: all 0.3s ease;
    }
  }
}
