.page {
  height: 100%;
  min-height: 80svh;

  &__title {
    font-weight: 600;
    color: var(--black-900);
    margin: 1rem 0;
    z-index: 1000;
  }

  &__container {
    border-radius: var(--global-border-radius);
    border: 1px solid var(--global-border-color);
    background-color: var(--white, #fff);
    @media (max-width: 600px) {
      border: none;
      filter: none;
    }
    box-shadow: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.04));
    // background-image: url('/glass.png');
    // background-repeat: no-repeat;
    // background-size: 62%;
    // background-position: 125% top;
  }
}

.network {
  background-color: var(--white);
  border:1px solid var(--gray-200);
  border-radius: var(--global-border-radius);

  &__body {
    padding: 2rem 2.5rem;

    ul {
      li {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;

        @media (max-width: 600px) {
          flex-direction: column;
        }
      }
    }

    a {
      color: var(--blue-700)
    }

    code {
      font-size: 10px;
      background-color: var(--gray-50);
      padding: 0.12rem 0.4rem;
      border-radius: 1000px;
      overflow-x: hidden;
      width: max-content;
      max-width: 100%;
      max-height: 60px;
      white-space: wrap;
      text-overflow: ellipsis;
    }

    button {
      outline: 1px solid var(--orange-400);
      background-color: var(--orange-100);
      color: var(--orange-400);
      padding: 0.25rem 0.7rem;
      will-change: transform;
      font-size: 11px;
      width: 100%;

      &:hover {
        transform: scale(1.015);
        transition: all 0.3s ease-in-out;
      }

      &:active {
        transform: scale(0.95);
        transition: all 0.3s ease;
      }
    }
  }
}
