:root {
  --background: #fafafa;
  --foreground: #171717;

  ::selection {
    color: var(--network-color-text);
    background-color: var(--network-color-primary);
  }
}

// Scrollbar
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: var(--gray-200);
}

::-webkit-scrollbar-thumb {
  background: var(--network-color-primary); //var(--black-200);
  background-clip: padding-box;
  border: 2px solid #0000;
  border-radius: 100vh;
}

::-webkit-scrollbar-track {
  background: 0 0;
  border-radius: 100vh;
}

// Dark theme
@media (prefers-color-scheme: dark) {
  :root {
    // --background: #0a0a0a;
    // --foreground: #ededed;
  }
}
.transition-all {
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}
.no-scroll {
  overflow: hidden;
}

// Details
details {
  cursor: pointer;
}

details::details-content {
  opacity: 0;
  transition: opacity 400ms, content-visibility 400ms allow-discrete;
}

details[open]::details-content {
  opacity: 1;
}

// details {
//   border-radius: var(--global-border-radius);
//   color: var(--black);
//   background-color: #f8fafd;
//   cursor: pointer;
//   transition-property: all;
//   transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
//   transition-duration: 150ms;
//   user-select: none;

//   summary {
//     position: relative;
//     font-weight: bold;
//     display: flex;
//     align-items: center;
//     justify-content: space-between;
//     padding: 1rem 2.5rem;
//     background-color: var(--white);
//     border-radius: var(--global-border-radius);

//     &:before {
//       content: '👈🏻';
//       position: absolute;
//       right: 1rem;
//       transition: 0.25s all ease;
//     }
//   }

//   > div {
//     background-color: var(--white);
//     border-bottom-left-radius: var(--global-border-radius);
//     border-bottom-right-radius: var(--global-border-radius);
//     padding: 1rem;
//   }

//   &[open] {
//     summary {
//       border-bottom-left-radius: unset;
//       border-bottom-right-radius: unset;
//       &:before {
//         content: '👇🏻';
//       }
//     }
//   }
// }
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
  overflow: hidden scroll;
  min-height: 100%;
}

// html,
// body {
//   max-width: 100vw;
// }

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-family-system) !important;
  font-size: var(--system-15-font-size);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  // min-height: calc(100svh - 4rem);
  // display: grid;
  // grid-template-rows: 400px 1fr;
  // grid-template-columns: 1fr;
  // align-items: center;
  // justify-items: stretch;
  // gap: 1rem;
  //background-color: var(--global-background-color);

  // cursor: url('./../public/awesome-face.cur') 4 12, auto;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
}

.pointer {
  cursor: pointer;
}

.rounded,
.rounded-full {
  border-radius: 9999px;
}

.debug {
  border: 1px solid red;
}

// .ms-motion-slideDownIn {
//   animation-name: slideDownIn;
//   animation-duration: 0.5s;
//   animation-timing-function: cubic-bezier(0.1, 0.9, 0.2, 1);
//   animation-fill-mode: forwards;
// }

// @keyframes slideDownIn {
//   0% {
//     opacity: 0;

//    // transform: translateY(-10px);
//   }
//   100% {
//     opacity: 1;

//    // transform: translateY(0);
//   }
// }

.relative {
  position: relative;
}

.d-block {
  display: block;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
