:root {
  --background: #ffffff;
  --foreground: #171717;

  ::selection {
    color: var(--brand-800);
    background-color: var(--brand-100);
  }
}

::backdrop {
  background-image: linear-gradient(45deg, magenta, rebeccapurple, dodgerblue, green);
  opacity: 0.5;
  filter: blur(100px);
}

// Scrollbar
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--black-200);
  background-clip: padding-box;
  border: 2px solid #0000;
  border-radius: 100vh;
}

::-webkit-scrollbar-track {
  background: 0 0;
  border-radius: 100vh;
}

@media (prefers-color-scheme: dark) {
  :root {
    // --background: #0a0a0a;
    // --foreground: #ededed;
  }
}

// Details
details {
  cursor: pointer;
}
details::details-content {
  opacity: 0;
  transition: opacity 400ms, content-visibility 400ms allow-discrete;
}

details[open]::details-content {
  opacity: 1;
}
// details {
//   border-radius: var(--global-border-radius);
//   color: var(--black);
//   background-color: #f8fafd;
//   cursor: pointer;
//   transition-property: all;
//   transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
//   transition-duration: 150ms;
//   user-select: none;

//   summary {
//     position: relative;
//     font-weight: bold;
//     display: flex;
//     align-items: center;
//     justify-content: space-between;
//     padding: 1rem 2.5rem;
//     background-color: var(--white);
//     border-radius: var(--global-border-radius);

//     &:before {
//       content: '👈🏻';
//       position: absolute;
//       right: 1rem;
//       transition: 0.25s all ease;
//     }
//   }

//   > div {
//     background-color: var(--white);
//     border-bottom-left-radius: var(--global-border-radius);
//     border-bottom-right-radius: var(--global-border-radius);
//     padding: 1rem;
//   }

//   &[open] {
//     summary {
//       border-bottom-left-radius: unset;
//       border-bottom-right-radius: unset;
//       &:before {
//         content: '👇🏻';
//       }
//     }
//   }
// }
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
  overflow: hidden scroll;
  min-height: 100%;
}

// html,
// body {
//   max-width: 100vw;
// }

body {
  color: var(--foreground);
  background: var(--white);
  font-family: var(--font-geist-sans) !important;
  font-size: 12px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 // min-height: calc(100svh - 4rem);
  // display: grid;
  // grid-template-rows: auto 1fr auto;
  // grid-template-columns: 1fr;
  // align-items: center;
  // justify-items: stretch;
  // gap: 0;
  //background-color: var(--global-background-color);

  // cursor: url('./../public/awesome-face.cur') 4 12, auto;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  border: none;
  cursor: pointer;
}

.pointer {
  cursor: pointer;
}

.rounded {
  border-radius: 999px;
}

.debug {
  border: 1px solid red;
}

.page-title {
  text-align: center;
  font-weight: 600;
  color: var(--black-900);
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 50%;
  height: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateX(-50%);
  user-select: none;
  font-size: var(--15-font-size);
}

.relative {
  position: relative;
}

.d-block {
  display: block;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
