.page {
  --gray-rgb: 0, 0, 0;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05);
  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;

  height: 100%;

  &__container {
    position: relative;
    top: 0rem;
    background-color: var(--white, #fff);
    filter: drop-shadow(0px 0px 1rem rgba(0, 0, 0, 0.04));
    border-radius: var(--global-border-radius);
    overflow: hidden;
    border: 1px solid var(--gray-300);
    isolation: isolate;

    @media (max-width: 600px) {
      border: none;
      filter: none;
      border-radius: unset;
    }
  }

  hr {
    border: 1px solid var(--gray-100);
    transform: rotate(-180deg);
  }
}

.commentModal {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  row-gap: 1rem;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1000;
  user-select: none;
  isolation: isolate;

  &__container {
    column-gap: 0.5rem;
    width: 100%;
    max-width: 600px;
    background-color: var(--white, #fff);
    border-radius: var(--global-border-radius);
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    padding: 0.5rem 1.5rem;

    &__header {
      padding: 1rem 0;
      display: flex;
      flex-direction: row;
      align-items: flex-start;

      > div {
        text-align: center;
        padding: 0.5rem 0;
        align-self: stretch;
        will-change: transform;

        &:first-child {
          cursor: pointer;

          svg {
            &:hover {
              transform: scale(1.025);
              transition: all 0.3s ease-in-out;
            }

            &:active {
              transform: scale(0.95);
              transition: all 0.3s ease;
            }
          }
        }

        &:last-child {
          text-align: right;
          color: var(--color-primary);
        }
      }

      &:hover {
        svg {
          fill: var(--gray-500);
        }
      }
    }

    &__main {
      // figure {
      //   border: 1px solid var(--gray-100);
      //   background-color: var(--gray-50);
      //   margin: 0 auto;

      //   --r: 8rem;
      //   width: var(--r);
      //   height: var(--r);
      //   img {
      //     width: inherit;
      //     height: inherit;
      //     border-radius: inherit;
      //     aspect-ratio: 1/1;
      //   }
      // }
    }
  }

  &__footer {
    margin-top: 1rem;

    figure {
      img {
        width: 36px;
        height: 36px;
        border-radius: 1000px;
        margin-right: 0.5rem;
        border: 1px solid var(--gray-200);
        background: var(--gray-100);
        aspect-ratio: 1/1;
      }
    }

    textarea {
      border: none;
      font-size: 12px;
      font-weight: 400;
      color: var(--gray-500);
      line-height: 1.2;
      overflow-y: auto;
      resize: none;
      width: 100%;
      padding-left: 2.8rem;
      background-color: var(--white);
      margin-top: 1rem;
      &:focus {
        outline: none;
      }

      &:after,
      &:before {
        content: '';
        position: absolute;
        border-radius: 1000px;
      }

      &:before {
        --r: 10px;
        width: var(--r);
        min-height: var(--r);
        bottom: -0.2rem;
        left: 30%;
        transform: translateX(-30%);
        background-color: var(--white, #fff);
        z-index: 1;
      }

      &:after {
        --r: 4px;
        width: var(--r);
        height: var(--r);
        bottom: -0.45rem;
        left: 37%;
        transform: translateX(-30%);
        background-color: var(--white, #fff);
      }
    }
  }

  &__post {
    -webkit-tap-highlight-color: transparent;

    > section {
      position: relative;
      background-color: var(--white, #fff);
      transition: background-color 0.1s ease-out;
      isolation: isolate;
      place-items: stretch;
    }

    // background-image: url('/hup.svg');
    // background-position: 97% 95%;
    // background-repeat: no-repeat;
    // background-size: 2rem;

    &__header {
      width: fit-content;
      user-select: none;
    }

    &__main {
      padding-left: 3rem;
    }

    &__content {
      height: auto;
      max-height: 150px;
      overflow: hidden;
      padding-right: 0.4rem;
      line-height: 1.4;
      font-size: 13px;
      padding: 0.2rem 0;
      cursor: text;
    }
  }
}

.loadMore {
  display: block;
  text-align: center;
  margin: 0 auto;
  position: relative;
  top: 0.5rem;

  color: var(--white, #fff);
  background-color: var(--color-primary);
  font-weight: 500;
  border-radius: 999px;
  padding: 0.5rem 1rem;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  will-change: transform;
  transition: transform 0.2s ease;

  &:hover {
    transform: scale(1.025);
  }

  &:active {
    transform: scale(0.95);
  }
}

.shimmer {
  width: 548px;
  height: 48px;
  border-radius: 999px;
}

.optionShimmer {
  background: var(--gray-100);
  padding: 1.6rem 1rem;
  @media (max-width: 600px) {
    padding: 8px 0.7rem;
  }
  border-radius: 4px;
}

.pageShimmer {
    padding: 1.7rem 1.7rem 0 1.7rem;
}

.profileShimmer {
  &__pfp {
  }
}
.badge {
  width: 18px;
  height: 18px;
  border-radius: 1000px;
  overflow: hidden;
}

.postDropdown {
  position: absolute;
  right: 0;
  left: auto;
  top: 100%;
  background-color: var(--white, #fff);
  border: none;
  border: 1px solid var(--gray-300);
  border-radius: 18px;
  padding: 1rem;
  cursor: pointer;
  transition: transform 0.2s ease;
  box-shadow: 0 2px 8px 0 var(--box-shadow-15);
  z-index: 1000;

  > ul {
    width: 100%;

    li {
      width: 100%;
      padding: 0.9em;
      border-radius: 8px;

      &:hover {
        background-color: var(--gray-50);
      }

      &:not(:first-child) {
        margin-top: 0.4em;
      }

      &[disabled] {
        opacity: 0.4;
      }

      figure {
        overflow: hidden;
        width: 18px;
      }

      a {
        white-space: nowrap;
      }

      small {
        text-wrap: nowrap;
      }
    }
  }
}

button.btnPostMenu {
  all: unset;
  position: relative;
  padding: 4px;
  transition: all 0.02s ease-in-out;
  width: 21px;
  height: 21px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  gap: 0.5rem;

  border-radius: 999px;
  color: var(--black-600);

  @media (max-width: 600px) {
    padding: 3px;
  }

  &:active {
    transform: scale(0.88);
  }

  &:before {
    content: '';
    width: 0px;
    height: 0px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--gray-alpha-100);
    border-radius: 999px;
    transition: all 0.2s ease-in-out;
    will-change: width, height;
  }

  &:hover {
    &:before {
      width: 100%;
      height: 100%;
    }
    cursor: pointer;
  }
}

.post {
  -webkit-tap-highlight-color: transparent;


}

// <Sparkles className={`${styles.sparkles}`} color={`#ff00ff`}/>
.sparkles {
  position: absolute;
  inset: 0;
  z-index: -1;
}

.grid {
}

.priceIcon {
  background-color: #f3f5f9;
  padding: 2px 6px;
  gap: 4px;

  img {
    width: 16px;
    height: 16px;
    border-radius: 6px;
    border: 1px solid var(--white, #fff);
  }
}

@media (prefers-color-scheme: dark) {
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
}

@media (max-width: 600px) {
  // .page {
  //   padding: 32px;
  //   padding-bottom: 80px;
  // }

  // .main {
  //   align-items: center;
  // }
}

@media (prefers-color-scheme: dark) {
}
