.page {
  --gray-rgb: 0, 0, 0;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05);
  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;

  height: 100%;

  &__container {
    position: relative;
    top: 0rem;
    background-color: var(--white, #fff);
    filter: drop-shadow(0px 0px 1rem rgba(0, 0, 0, 0.04));
    border-radius: var(--global-border-radius);
    overflow: hidden;
    border: 1px solid var(--gray-300);
    isolation: isolate;

    @media (max-width: 600px) {
      border: none;
      filter: none;
      border-radius: unset;
    }
  }

  hr {
    border: 1px solid var(--gray-200);
    transform: rotate(-180deg);
  }
}

.alert {
  padding: 0.42rem 0;
  width: 100%;
  background-color: var(--orange-50);
  color: var(--orange-400);
  text-align: center;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1000px;
  margin: 0 0 1rem 0;
}

.loadMore {
  display: block;
  text-align: center;
  margin: 0 auto;
  position: relative;
  top: 0.5rem;

  color: var(--white, #fff);
  background-color: var(--color-primary);
  font-weight: 500;
  border-radius: 999px;
  padding: 0.5rem 1rem;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  will-change: transform;
  transition: transform 0.2s ease;

  &:hover {
    transform: scale(1.025);
  }

  &:active {
    transform: scale(0.95);
  }
}

.shimmer {
  width: 548px;
  height: 48px;
  border-radius: 999px;
}

.optionShimmer {
  background: var(--gray-100);
  padding: 1.6rem 1rem;
  @media (max-width: 600px) {
    padding: 8px 0.7rem;
  }
  border-radius: 4px;
}

.pollShimmer {
  width: 100%;
  height: 100svh;
}

.profileShimmer {
  &__pfp {
  }
}

.poll {
  -webkit-tap-highlight-color: transparent;

  > section {
    position: relative;
    background-color: var(--white, #fff);
    transition: background-color 0.1s ease-out;
    isolation: isolate;
    cursor: pointer;
    padding: 1.7rem 1.7rem 0 1.7rem;
    @media (max-width: 600px) {
      padding: 0.7rem 0.7rem;
    }
    place-items: stretch;
  }

  // background-image: url('/hup.svg');
  // background-position: 97% 95%;
  // background-repeat: no-repeat;
  // background-size: 2rem;

  &__header {
    width: fit-content;
    user-select: none;

    .badge {
      width: 18px;
      height: 18px;
      border-radius: 1000px;
      overflow: hidden;
    }

    figure {
      figcaption {
        height: 100%;

        img {
          width: 14px;
          height: 14px;
          aspect-ratio: 1/1;
        }
      }

      > img {
        width: 36px;
        height: 36px;
        border-radius: 1000px;
        margin-right: 0.5rem;
        border: 1px solid var(--gray-200);
        background: var(--gray-100);
        aspect-ratio: 1/1;
      }
    }
  }

  &__main {
    padding-left: 3rem;
  }

  &__question {
    height: auto;
    max-height: 150px;
    overflow: hidden;
    padding-right: 0.4rem;
    line-height: 1.4;
    font-size: 13px;
    padding: 0.2rem 0;
  }

  &__btnShowMore {
    padding: 0.2rem;
    background-color: unset;
  }

  &__options {
    margin-top: 0.2rem;
    max-height: 190px;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0.2em;

    &__option {
      background-color: var(--white);
      padding: 16px 1rem;
      border: 1px solid #f0f0f0;
      border-radius: 12px;
      transition: background-color 0.2s ease-in-out;
      will-change: transform;
      transition: transform 0.1s ease;
      user-select: none;
      cursor: pointer;
      @media (max-width: 600px) {
        padding: 8px 0.7rem;
      }

      &:hover {
        background-color: var(--gray-alpha-100);
        transform: scale(0.97);
      }

      &:active {
        background-color: var(--gray-alpha-200);
      }

      &[data-chosen='true'] {
        background-color: var(--gray-900);
        color: var(--white);
        outline: 3px solid var(--success-400);

        span {
          color: var(--white);
        }

        &:after {
          color: var(--white) !important;
        }
      }
    }

    &__optionEndeed {
      position: relative;
      padding: 16px 1rem;
      border: 1px solid var(--white, #fff);
      border-radius: 12px;
      transition: background-color 0.2s ease-in-out;
      will-change: transform;
      transition: transform 0.1s ease;
      background-color: var(--gray-100);
      user-select: none;
      cursor: help;
      isolation: isolate;

      @media (max-width: 600px) {
        padding: 8px 0.7rem;
      }

      span {
        color: var(--gray-400);
        font-weight: 500;
      }

      &[data-chosen='true'] {
        background-color: var(--gray-900);
        color: var(--white);
        outline: 3px solid var(--success-400);

        span {
          color: var(--white);
        }
        &:after {
          color: var(--white);
        }
      }

      &[data-top-option='true'] {
        background-color: var(--gray-900);
        color: var(--white);
      }

      &:before,
      &:after {
        content: '';
        border-radius: inherit;
        position: absolute;
        left: 0;
        top: 0;
        font-weight: 900;
      }

      &:before {
        height: 100%;
        width: var(--data-width, 0%);
        padding: 0 1rem;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        overflow: hidden;
        z-index: 1;
      }

      &:after {
        content: attr(data-percentage) '%';
        height: 100%;
        width: 100%;
        padding: 0 1rem;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        overflow: hidden;
        z-index: 1;
        color: var(--gray-400);
      }
    }

    .showPercentage {
      &:before,
      &:after {
        content: '';
        border-radius: inherit;
        position: absolute;
        left: 0;
        top: 0;
        font-weight: 900;
      }

      &:before {
        height: 100%;
        width: var(--data-width, 0%);
        padding: 0 1rem;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        overflow: hidden;
        z-index: 1;
      }

      &:after {
        content: attr(data-percentage) '%';
        height: 100%;
        width: 100%;
        padding: 0 1rem;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        overflow: hidden;
        z-index: 1;
        color: var(--gray-400);
      }
    }
  }

  &__footer {
    color: var(--black-400);
    font-size: 11px;
    user-select: none;
  }

  &__actions {
    font-size: 11px;
    color: var(--black-400);
    padding-bottom: 0.5rem;
    font-weight: 500;
    gap: 0.1rem;
    cursor: default;
    width: fit-content;
    user-select: none;

    button {
      all: unset;
      position: relative;
      padding: 6px 12px;
      transition: background-color 0.2s ease-in-out;
      height: 30px;

      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
      gap: 0.5rem;

      border-radius: 999px;
      color: var(--black-600);

      @media (max-width: 600px) {
        padding: 3px 9px;
      }

      &:active {
        transform: scale(0.9);
        transition: all 0.3s ease-in-out;
      }

      &:before {
        content: '';
        width: 0px;
        height: 0px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        background-color: var(--gray-alpha-100);
        border-radius: 999px;
        transition: all 0.2s ease-in-out;
        will-change: width, height;
      }

      &:hover {
        &:before {
          width: 100%;
          height: 100%;
        }
        cursor: pointer;
      }
    }
  }
}

// <Sparkles className={`${styles.sparkles}`} color={`#ff00ff`}/>
.sparkles {
  position: absolute;
  inset: 0;
  z-index: -1;
}

.grid {
}

.priceIcon {
  background-color: #f3f5f9;
  padding: 2px 6px;
  gap: 4px;

  img {
    width: 16px;
    height: 16px;
    border-radius: 6px;
    border: 1px solid var(--white, #fff);
  }
}

.profiles {
  column-gap: 0.5rem;
  padding: 1.4rem 0.5rem;
  overflow-y: hidden;
  overflow-x: auto;

  a {
    position: relative;
    transition: all 100ms ease-in;
    width: 32px;
    height: 32px;
    margin: 0 auto;

    &:hover {
      transform: scale(1.2);
      filter: brightness(100%);
    }

    span {
      position: absolute;
      right: -3px;
      bottom: -3px;
      z-index: 999;
      width: 18px;
      height: 18px;
      background-color: rgba(0, 0, 0, 0.5);
      padding: 0.01rem;
      border-radius: 999px;
      border: 1px solid var(--white);
      font-size: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    img {
      width: 32px;
      height: 32px;
      aspect-ratio: 1 / 1;
      cursor: pointer;
    }
  }
}

@media (prefers-color-scheme: dark) {
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
}

@media (max-width: 600px) {
  // .page {
  //   padding: 32px;
  //   padding-bottom: 80px;
  // }

  // .main {
  //   align-items: center;
  // }
}

@media (prefers-color-scheme: dark) {
}
