.aside {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  padding: 1em 1em;
  height: 100svh;
  z-index: 10;
  isolation: isolate;

  background-color: #fafafa;
  color: var(--gray-400);

  // Responsive: Hide on mobile
  @media (max-width: 639px) {
    display: none !important;
  }

  nav {
    height: 100%;
  }

  ul {
    height: 100%;
    padding: 1.5rem 0; // Centered icons vertically in the bar
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    margin: 0;
  }

  .link {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px;
    border-radius: var(--global-border-radius);
    color: inherit;
    transition: all 0.2s ease;
    will-change: transform, color;

    // The Icon inside the link
    svg {
      transition: transform 0.2s ease, fill 0.2s ease;
    }

    /* This hover effect will ONLY trigger on a computer with a mouse */
    @media (hover: hover) and (pointer: fine) {
      &:hover {
        // color: var(--black, #000);
        background-color: var(--gray-100);

        // svg {
        //   transform: scale(1.1);
        // }
        .collapseButton {
          left: 0;
        }
      }
    }

    &[aria-label='New'] {
      background-color: var(--gray-150);
    }

    // Active State (Based on the data-active attribute from React)
    &[data-active='true'] {
      color: var(--black, #000);

      svg {
        // We use currentColor in React, so changing 'color' here
        // automatically updates the icon's fill/stroke.
        stroke-width: 1.5px;
      }
    }

    &:active {
      transform: scale(0.95);
    }
  }
}

a.logo {
  position: relative;
  transition-duration: 0.2s;
  transition-property: transform;
  forced-color-adjust: auto;

  svg {
    --r: 32px;
    width: auto !important;
    height: var(--r) !important;
  }

  &:hover {
    transform: scale(1.05);
  }
}

.newButton {
  position: fixed;
  bottom: 24px;
  right: 2rem;
  width: 62px;
  height: 62px;
  display: flex;
  place-items: center;
  place-content: center;
  background-color: var(--white);
  border: 1px solid var(--gray-100);
  border-radius: var(--global-border-radius);
  box-shadow: var(--shadow-md);
  color: var(--black);
  transition: transform 0.2s ease;
  will-change: transform, box-shadow;
  cursor: pointer;

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      transform: scale(1.1);
    }
  }

  &:active {
    transform: scale(0.97);
  }
}
