@use './../styles/components/responsive' as *;

.connect {
  button {
    color: var(--white, #fff);
    background-color: var(--color-primary);
    font-weight: 500;
    border-radius: 999px;
    padding: 0.5rem 1rem;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    will-change: transform;
    transition: transform 0.2s ease;

    &:hover {
      transform: scale(1.025);
    }

    &:active {
      transform: scale(0.95);
    }
  }
}

button.btnConnect {
  background-color: var(--black);
  color: var(--white, #fff);
  padding: 0.2rem 0.7rem;
  border-radius: 1000px;
  font-size: 12px;
  cursor: pointer;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  will-change: transform;
  transition: transform 0.2s ease;

  &:hover {
    transform: scale(1.025);
  }

  &:active {
    transform: scale(0.95);
  }
}

.networks {
  position: relative;
  border-radius: 1000px;
  &:hover {
    background-color: var(--white);
  }

  button {
    all: unset;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.2rem;
    width: 32px;
    height: 32px;
    will-change: transform;
    transition: all 0.2s ease;
    border-radius: 1000px;
    background-color: var(--gray-100);

    cursor: pointer;

    &:hover {
      transform: scale(1.025);
    }

    &:active {
      transform: scale(0.95);
    }

    span {
      overflow: hidden;
    }
  }

  .dropdown {
    position: absolute;
    right: 0;
    left: auto;
    top: 100%;
    background-color: var(--white, #fff);
    border: none;
    border: 1px solid var(--gray-300);
    border-radius: 18px;
    cursor: pointer;
    transition: transform 0.1s ease-out;
    box-shadow: 0 2px 8px 0 var(--box-shadow-15);

    > ul {
      width: 100%;

      li {
        width: 100%;
        padding: 0.3em;

        &:hover {
          background-color: var(--gray-50);
        }

        &:not(:first-child) {
          margin-top: 0.4em;
        }

        &[disabled] {
          opacity: 0.4;
        }

        figure {
          overflow: hidden;
          width: 18px;
        }

        small {
          text-wrap: nowrap;
        }
      }
    }
  }
}

figure.pfp {
  will-change: transform outline;
  transition: transform 0.2s ease;

  &:hover {
    transform: scale(1.025);
    outline: 3px solid var(--gray-200);
  }

  &:active {
    transform: scale(0.95);
  }

  img {
    --r: 32px;
    width: var(--r);
    height: var(--r);
    aspect-ratio: 1/1;
  }
}

.walletConnectModal {
  position: fixed;
  inset: 0;
  display: flex;
  flex-direction: column;
  place-content: center;
  place-items: center;
  row-gap: 1rem;
  background-color: var(--gray-50);
  z-index: 1000;

  .wallet {
    font-size: 14px;
    font-weight: 600;
    column-gap: 0.5rem;
    width: 100%;
    max-width: 200px;
    border-radius: var(--global-border-radius);
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    padding: 0.5rem 1rem;

    &:hover {
      transform: scale(1.025);
      transition: all 0.3s ease-in-out;
    }

    &:active {
      transform: scale(0.95);
      transition: all 0.3s ease;
    }
  }
}

@include medium-down() {
  .wallet {
    padding: 0;

    li {
      &:first-child {
        display: none;
      }

      &:last-child {
        span {
          display: none;
        }
      }
    }
  }
}
