.page {
  > div {
    a {
      flex: 1 1;
      // aspect-ratio: 1/1;
      object-fit: contain;

      video {
        width: auto;
        height: 100%;
        margin: 0 auto;
      }
    }
  }
}

.imageGrid {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 1em;
  width: 100%;
  height: 200px;

  > div {
    width: auto;
    height: 100%;
  }
  img {
    width: auto;
    height: 100%;
    margin: 0 auto;
    object-fit: contain;
  }
}
