.page {
  > div {
    a {
      flex: 1 1;
      object-fit: contain;

      video {
        width: auto;
        height: 100%;
        margin: 0 auto;
      }
    }
  }
}

.imageGrid {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: flex-start;
  gap: 1em;
  width: 100%;
  overflow-x: auto;
  scroll-snap-type: x mandatory;

  > div {
    flex-shrink: 0;

    width: 100%;
    height: auto;
    scroll-snap-align: start;
  }

  img {
    width: 100%;
    height: auto;
    max-height: calc(450px * 3);
    object-fit: contain;
  }
}

.videoGrid {
  > div {
    video {
      aspect-ratio: 1/1;
    }
  }

  .fullHeight {
    aspect-ratio: unset;
    width: 100%;
    height: auto;
  }
}
