.galleryWrapper {
  position: relative;
  width: 100%;
  padding: 1rem 0;
}

.mediaItem {
  position: relative;
  border-radius: 12px;
  overflow: hidden;
  background-color: var(--gray-100); // Fallback for loading
  will-change: transform;
  transition: all 0.2s ease;


  &:active {
    transform: scale(0.99);
  }

  &:hover {
    .spolier {
   background: rgba(0, 0, 0, 0.4);
    }
  }
}

.spolier {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  z-index: 10;
  padding: 4px 12px;
  border-radius: 1000px;
  border: none;
  background: rgba(0, 0, 0, 0.3);
  color: white;
  cursor: pointer;
}

/* CAROUSEL STATE */
.embla {
  overflow: hidden;
  cursor: grab;

  .mediaItem {
    width: 320px;
    height: 400px; // Fixed height for carousel items

    img,
    video {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover; // Ensures media fills the area without distortion
      aspect-ratio: 0.75; // 4:3 aspect ratio
    }
  }

  &:active {
    cursor: grabbing;
  }
}

.embla__container {
  display: flex;
  backface-visibility: hidden;
  touch-action: pan-y pinch-zoom;
  margin-left: -12px;
}

.embla__slide {
  flex: 0 0 auto;
  min-width: 0;
  padding-left: 12px;
}

/* SINGLE VIEW STATE */
.singleView {
  width: fit-content;

  .mediaItem {
    width: fit-content;
    overflow: hidden;


    video,
    img {
      width: auto;
      height: auto;
      max-height: 450px; // Sync with parent max-height
      max-width: 100%;
      object-fit: contain; // Ensures no cropping
    }

    @media (max-width: 639px) {
      video,
      img {
        width: 100%;
        max-height: 350px; // Smaller height for mobile
      }
    }
  }
}

.muteButton {
  position: absolute;
  right: 1rem;
  bottom: 1rem;
  z-index: 10;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: none;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  backdrop-filter: blur(8px);
  transition: transform 0.2s ease, background 0.2s;

  &:hover {
    background: rgba(0, 0, 0, 0.7);
    transform: scale(1.1);
  }
}
