@use './../styles/components/responsive' as *;

.header {
  grid-row: 1/2;
  grid-column: 1/1;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1000;
  width: fit-content;

  user-select: none;
  isolation: isolate;

  @include md-down() {
    padding: 0rem;
  }

  ul {
    height: 100%;
    padding: 0.7rem 1.5rem;

 @include md-down() {
    padding: 0.5rem;
  }
  }
}
