@use './../styles/components/responsive' as *;

.header {
  grid-row: 1/2;
  grid-column: 1/1;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  height: 55px;
  user-select: none;
  isolation: isolate;
  background: var(--white);

  ul {
    height: 100%;
    padding: 0.7rem 1.5rem;

    @media (max-width: 600px) {
      padding: 0.7rem 0.7rem;
    }
  }
}

a.logo {
  position: relative;
  transition-duration: 0.2s;
  transition-property: transform;
  forced-color-adjust: auto;

  svg {
    --r: 32px;
    width: auto !important;
    height: var(--r) !important;
  }

  &:hover {
    transform: scale(1.025);
  }
}
