@use './../styles/components/responsive' as *;

.header {
  grid-row: 1/2;
  grid-column: 1/1;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1000;
  width: fit-content;
padding: 1em;
  user-select: none;
  isolation: isolate;

@media (max-width: 600px) {
    padding: 0.2em;
  }

  ul {
    height: 100%;
    padding: 0.7rem 1.5rem;

    @media (max-width: 600px) {
      padding: 0.7rem 0.7rem;
    }
  }
}