.stickyHeader {
  position: sticky;
  top: 0;
  background-color: rgba($color: #fafafa, $alpha: 0.7);
  
  // Blur effect
  -webkit-backdrop-filter: blur(28.5px);
  backdrop-filter: blur(28.5px);
  z-index: 5;
}

.pageTitle {
  margin: 0;
  height: 3rem;

  color: var(--black-900);
  font-weight: 500;
  font-size: var(--font-size-15);
  text-transform: capitalize;
  user-select: none;

  span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
  }
}
