.stickyHeader {
  position: sticky;
  top: 0;
  background-color: var(--gray-50);
}

.pageTitle {
  margin: 0;
  height: 3rem;
  
  color: var(--black-900);
  font-weight: 500;
  font-size: var(--font-size-15);
  text-transform: capitalize;
  user-select: none;

  span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
  }
}