.pageTitle {
  color: var(--black-900);
  position: fixed;
  top: 0;
  left: 50%;
  height: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateX(-50%);
  font-size: var(--14-font-size) !important;
  font-weight: 600;
  user-select: none;
  text-transform: capitalize;
  z-index: 1000;
}
