.shimmer {
  width: 548px;
  height: 48px;
  border-radius: 999px;
}

.profileShimmer {
  &__pfp {
  }
}

.badge {
  width: 14px;
  height: 14px;

  svg {
    width: inherit;
    height: inherit;
    border: 1px solid var(--gray-200);
    background-color: var(--gray-50);
  }
}

figure.profile {
  column-gap: 0.5rem;
  cursor: pointer;
  width: fit-content;
  figcaption {
    height: 100%;

    svg {
      aspect-ratio: 1/1;
    }
  }

  > img {
    width: 36px;
    height: 36px;
    border-radius: 1000px;
    margin-right: 0.5rem;
    border: 1px solid var(--gray-200);
    background: var(--gray-100);
    aspect-ratio: 1/1;
  }
}

.createdAt {
  font-weight: 400;
  color: var(--gray-400);
}

@media (prefers-color-scheme: dark) {
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
}

@media (max-width: 600px) {
  // .page {
  //   padding: 32px;
  //   padding-bottom: 80px;
  // }

  // .main {
  //   align-items: center;
  // }
}

@media (prefers-color-scheme: dark) {
}
