.page {
  &__container {
    position: relative;
    top: 0rem;
    border: 1px solid #f7f9f9;
    background-color: var(--white, #fff);
    border-radius: var(--global-border-radius);
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.04);
    overflow: hidden;
    isolation: isolate;

    @media (max-width: 600px) {
      border: none;
      filter: none;
      border-radius: unset;
    }
  }
}

.network {
  position: relative;
  background-color: var(--white);
  border: 1px solid transparent;
  border-radius: 20px;
  cursor: help;
  transition: all 0.2s var(--transition-soft);
  user-select: none;
  isolation: isolate;

  &__body {
    padding: 2rem;
    @media (max-width: 600px) {
      padding: 0.5em 0;
    }

    &:before {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      height: 60px;
      background-color: var(--bg-color);
    }
  }

  a {
    color: var(--blue-400);
  }

  &__icon {
    background-color: var(--white);
    border: 2px solid var(--white);
    box-shadow: var(--shadow-10);
    overflow: hidden;
    z-index: 1;

    svg {
      --r: 48px;
      width: var(--r);
      height: var(--r);
    }
  }

  span {
    font-weight: 500;
    border-radius: 1000px;

    &:last-child {
      font-size: 11px;
      background-color: var(--gray-50);
    }
  }

  small {
    color: var(--text-color-pale);
  }

  small {
    background-color: var(--gray-100);
    color: var(--black);
    padding: 6px 12px;
    font-size: 11px;
    border: none;
    border-radius: 1000px;
  }
}

// Shimmer
.shimmer {
  padding: 1.2rem;
  border-radius: 20px;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
}

/* Styles for dark color theme. */
@media (prefers-color-scheme: dark) {
}
