@use '@/styles/components/responsive' as r;

.modal {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  row-gap: 1rem;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 2000;
  user-select: none;
  isolation: isolate;
  max-height: 100svh;

  &__container {
    column-gap: 0.5rem;
    width: 100%;
    max-width: 600px;
    background-color: var(--background);
    border-radius: var(--global-border-radius);
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    padding: 4.5rem 1.5rem 1.5rem;
    overflow-y: auto;
    max-height: 100svh;

    @include r.md-down() {
      max-width: 100svw !important;
      height: 100svh;
    }
    &__header {
      height: 50px;
      padding: 0 1rem;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      z-index: 1;
      background-color: var(--background);
      border-bottom: 1px solid var(--border);

      > div {
        text-align: center;
        padding: 0.5rem 0;
        align-self: stretch;
        will-change: transform;

        &:first-child {
          cursor: pointer;

          svg {
            &:hover {
              transform: scale(1.025);
              transition: all 0.3s ease-in-out;
            }

            &:active {
              transform: scale(0.95);
              transition: all 0.3s ease;
            }
          }
        }

        &:last-child {
          text-align: right;
          color: var(--color-primary);
        }
      }

      &:hover {
        svg {
          fill: var(--gray-500);
        }
      }
    }

    main {
    }
  }

  footer {
    margin-top: 1rem;

    figure {
      img {
        width: 36px;
        height: 36px;
        border-radius: 1000px;
        margin-right: 0.5rem;
        border: 1px solid var(--gray-200);
        background: var(--gray-100);
        aspect-ratio: 1/1;
      }
    }

    textarea {
      border: none;
      font-size: 12px;
      font-weight: 400;
      color: var(--gray-500);
      line-height: 1.2;
      overflow-y: auto;
      resize: none;
      width: 100%;
      background-color: var(--surface);
      &:focus {
        outline: none;
      }

      &:after,
      &:before {
        content: '';
        position: absolute;
        border-radius: 1000px;
      }

      &:before {
        --r: 10px;
        width: var(--r);
        min-height: var(--r);
        bottom: -0.2rem;
        left: 30%;
        transform: translateX(-30%);
        background-color: var(--background);
        z-index: 1;
      }

      &:after {
        --r: 4px;
        width: var(--r);
        height: var(--r);
        bottom: -0.45rem;
        left: 37%;
        transform: translateX(-30%);
        background-color: var(--background);
      }
    }
  }

  &__post {
    -webkit-tap-highlight-color: transparent;

    > section {
      position: relative;
      background-color: var(--background);
      transition: background-color 0.1s ease-out;
      isolation: isolate;
      place-items: stretch;
    }

    &__header {
      width: fit-content;
      user-select: none;
    }

    &__main {
      padding-left: 3rem;
    }

    &__content {
      height: auto;
      overflow: hidden;
      padding-right: 0.4rem;
      line-height: 1.4;
      font-size: 13px;
      padding: 0.2rem 0;
      cursor: text;
    }
  }
}